{% for r in lookup('ansible.builtin.vars', 'frr_routes') %}
{% if r['destination'] is defined and r['destination']
  not in ['', [], '[]', None] %}
{{ 'ip route ' + r['destination'] -}}
{% if r['next_hop'] is defined and r['next_hop'] not in ['', [], '[]', None] %}
{{ ' ' ~ r['next_hop'] -}}
{% endif %}
{% if r['interface'] is defined and r['interface']
  not in ['', [], '[]', None] %}
{{ ' ' ~ r['interface'] -}}
{% endif %}
{% if r['tag'] is defined and r['tag'] not in ['', [], '[]', None] %}
{{ ' tag ' ~ r['tag'] -}}
{% endif %}
{% if r['distance'] is defined and (r['distance'] | int() > 1 and
  r['distance'] | int() <= 255) %}
{{ ' ' ~ r['distance'] -}}
{% endif %}
{% if r['table'] is defined and r['table'] not in ['', [], '[]', None] %}
{{ ' table ' ~ r['table'] -}}
{% endif %}
{% endif %}
{% if loop['last'] %}
{{ '\n!' }}
{% else %}
{{ '' }}
{% endif %}
{% endfor %}
