{% if z['debug'] is defined and z['debug'] not in ['', [], '[]', None] %}
{% for zd in z['debug'] %}
{% if zd['bfd'] is defined and zd['bfd'] not in ['', [], '[]', None] %}
{% for zdb in zd['bfd'] %}
{% if zdb['distributed'] is defined and zdb['distributed'] == 'true' %}
{{ 'debug bfd distributed' }}
{% endif %}
{% if zdb['network'] is defined and zdb['network'] == 'true' %}
{{ 'debug bfd network' }}
{% endif %}
{% if zdb['peer'] is defined and zdb['peer'] == 'true' %}
{{ 'debug bfd peer' }}
{% endif %}
{% if zdb['zebra'] is defined and zdb['zebra'] == 'true' %}
{{ 'debug bfd zebra' }}
{% endif %}
{% endfor %}
{% endif %}
{% if zd['bgp'] is defined and zd['bgp'] not in ['', [], '[]', None] %}
{% for zdb in zd['bgp'] %}
{% if zdb['as4'] is defined and zdb['as4'] not in ['', [], '[]', None] %}
{% for zdba in zdb['as4'] %}
{% if zdba['enabled'] is defined and zdba['enabled'] == 'true' %}
{{ 'debug bgp as4' }}
{% if zdba['segment'] is defined and zdba['segment'] == 'true' %}
{{ 'debug bgp as4 segment' }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['bestpath'] is defined and zdb['bestpath']
  not in ['', [], '[]', None] %}
{% if zdb['bestpath'] is ansible.utils.ip() %}
{{ 'debug bgp bestpath ' + zdb['bestpath'] }}
{% elif zdb['bestpath'] is sequence %}
{% for zdbb in zdb['bestpath'] %}
{% if (zdbb | ansible.utils.ipaddr('net')) is ansible.utils.ip() %}
{{ 'debug bgp bestpath ' + zdbb }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% if zdb['keepalives'] is defined and zdb['keepalives']
  not in ['', [], '[]', None] %}
{% for zdbk in zdb['keepalives'] %}
{% if (zdbk['enabled'] is defined and zdbk['enabled'] == 'true') and
  zdbk['peers'] is not defined %}
{{ 'debug bgp keepalives' }}
{% elif zdbk['peers'] is defined and zdbk['peers']
  not in ['', [], '[]', None] %}
{% if zdbk['peers'] is string and zdbk['peers'] is ansible.utils.ip() %}
{{ 'debug bgp keepalives ' + zdbk['peers'] }}
{% elif zdbk['peers'] is sequence %}
{% for zdbkp in zdbk['peers'] %}
{% if zdbkp is ansible.utils.ip() %}
{{ 'debug bgp keepalives ' + zdbkp }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['neighbor_events'] is defined and zdb['neighbor_events']
  not in ['', [], '[]', None] %}
{% for zdbn in zdb['neighbor_events'] %}
{% if (zdbn['enabled'] is defined and zdbn['enabled'] == 'true') and
  zdbn['peers'] is not defined %}
{{ 'debug bgp neighbor-events' }}
{% elif zdbn['peers'] is defined and zdbn['peers']
  not in ['', [], '[]', None] %}
{% if zdbn['peers'] is string and zdbn['peers'] is ansible.utils.ip() %}
{{ 'debug bgp neighbor-events ' + zdbn['peers'] }}
{% elif zdbn['peers'] is sequence %}
{% for zdbnp in zdbn['peers'] %}
{% if zdbnp is ansible.utils.ip() %}
{{ 'debug bgp neighbor-events ' + zdbnp }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['nht'] is defined and zdb['nht'] == 'true' %}
{{ 'debug bgp nht' }}
{% endif %}
{% if zdb['update_groups'] is defined and zdb['update_groups'] == 'true' %}
{{ 'debug bgp update-groups' }}
{% endif %}
{% if zdb['updates'] is defined and zdb['updates']
  not in ['', [], '[]', None] %}
{% for zdbu in zdb['updates'] %}
{% if zdbu['detail'] is defined and zdbu['detail'] == 'true' %}
{{ 'debug bgp updates detail' }}
{% endif %}
{% if zdbu['in'] is defined and zdbu['in'] == 'true' %}
{{ 'debug bgp updates in' }}
{% endif %}
{% if zdbu['out'] is defined and zdbu['out'] == 'true' %}
{{ 'debug bgp updates out' }}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['zebra'] is defined and zdb['zebra'] not in ['', [], '[]', None] %}
{% for zdbz in zdb['zebra'] %}
{% if (zdbz['enabled'] is defined and zdbz['enabled'] == 'true') and
  zdbz['prefix'] is not defined %}
{{ 'debug bgp zebra' }}
{% elif zdbz['prefix'] is defined and zdbz['prefix']
  not in ['', [], '[]', None] %}
{% if zdbz['prefix'] is string and zdbz['prefix'] is ansible.utils.ip() %}
{{ 'debug bgp zebra prefix ' + zdbz['prefix'] }}
{% elif zdbz['prefix'] is sequence %}
{% for zdbzp in zdbz['prefix'] %}
{% if zdbzp is ansible.utils.ip() %}
{{ 'debug bgp zebra prefix ' + zdbzp }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['flowspec'] is defined and zdb['flowspec'] == 'true' %}
{{ 'debug bgp flowspec' }}
{% endif %}
{% if zdb['labelpool'] is defined and zdb['labelpool'] == 'true' %}
{{ 'debug bgp labelpool' }}
{% endif %}
{% if zdb['pbr'] is defined and zdb['pbr'] not in ['', [], '[]', None] %}
{% for zdbp in zdb['pbr'] %}
{% if zdbp['enabled'] is defined and zdbp['enabled'] == 'true' %}
{{ 'debug bgp pbr' }}
{% endif %}
{% if zdbp['error'] is defined and zdbp['error'] == 'true' %}
{{ 'debug bgp pbr error' }}
{% endif %}
{% endfor %}
{% endif %}
{% if zdb['graceful_restart'] is defined and
  zdb['graceful_restart'] == 'true' %}
{{ 'debug bgp graceful-restart' }}
{% endif %}
{% if zdb['bfd'] is defined and zdb['bfd'] == 'true' %}
{{ 'debug bgp bfd' }}
{% endif %}
{% if zdb['conditional_advertisement'] is defined and
  zdb['conditional_advertisement'] == 'true' %}
{{ 'debug bgp conditional-advertisement' }}
{% endif %}
{% if zdb['vnc'] is defined and zdb['vnc'] not in ['', [], '[]', None] %}
{% for zdbv in zdb['vnc'] %}
{% if zdbv['enabled'] is defined and zdbv['enabled'] == 'true' %}
{{ 'debug bgp vnc' }}
{% endif %}
{% if zdbv['verbose'] is defined and zdbv['verbose'] == 'true' %}
{{ 'debug bgp vnc verbose' }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if z['debug_memstats_at_exit'] is defined and
  z['debug_memstats_at_exit'] == 'true' %}
{{ 'debug memstats-at-exit' }}
{% endif %}
{% if z['debug_ospf_event'] is defined and z['debug_ospf_event'] == 'true' %}
{{ 'debug ospf event' }}
{% endif %}
{% if z['debug_ospf_ism'] is defined and z['debug_ospf_ism'] == 'true' %}
{{ 'debug ospf ism' }}
{% endif %}
{% if z['debug_ospf_nsm'] is defined and z['debug_ospf_nsm'] == 'true' %}
{{ 'debug ospf nsm' }}
{% endif %}
{% if z['debug_ospf_nssa'] is defined and z['debug_ospf_nssa'] == 'true' %}
{{ 'debug ospf nssa' }}
{% endif %}
{% if z['debug_ospf_sr'] is defined and z['debug_ospf_sr'] == 'true' %}
{{ 'debug ospf sr' }}
{% endif %}
{% if z['debug_ospf_te'] is defined and z['debug_ospf_te'] == 'true' %}
{{ 'debug ospf te' }}
{% endif %}
{% if z['debug_ospf_zebra'] is defined and z['debug_ospf_zebra'] == 'true' %}
{{ 'debug ospf zebra' }}
{% endif %}
{% if z['debug_pbr_events'] is defined and z['debug_pbr_events'] == 'true' %}
{{ 'debug pbr events' }}
{% endif %}
{% if z['debug_pbr_map'] is defined and z['debug_pbr_map'] == 'true' %}
{{ 'debug pbr map' }}
{% endif %}
{% if z['debug_pbr_nht'] is defined and z['debug_pbr_nht'] == 'true' %}
{{ 'debug pbr nht' }}
{% endif %}
{% if z['debug_pbr_zebra'] is defined and z['debug_pbr_zebra'] == 'true' %}
{{ 'debug pbr zebra' }}
{% endif %}
{% if z['debug_route_map'] is defined and z['debug_route_map'] == 'true' %}
{{ 'debug route-map' }}
{% endif %}
{% if z['debug_rpki'] is defined and z['debug_rpki'] == 'true' %}
{{ 'debug rpki' }}
{% endif %}
{% if z['debug_vrf'] is defined and z['debug_vrf'] == 'true' %}
{{ 'debug vrf' }}
{% endif %}
{% if z['debug_vrrp'] is defined and z['debug_vrrp'] == 'true' %}
{{ 'debug vrrp' }}
{% endif %}
{% if z['debug_vrrp_arp'] is defined and z['debug_vrrp_arp'] == 'true' %}
{{ 'debug vrrp arp' }}
{% endif %}
{% if z['debug_vrrp_autoconfigure'] is defined and
  z['debug_vrrp_autoconfigure'] == 'true' %}
{{ 'debug vrrp autoconfigure' }}
{% endif %}
{% if z['debug_vrrp_ndisc'] is defined and z['debug_vrrp_ndisc'] == 'true' %}
{{ 'debug vrrp ndisc' }}
{% endif %}
{% if z['debug_vrrp_packets'] is defined and
  z['debug_vrrp_packets'] == 'true' %}
{{ 'debug vrrp packets' }}
{% endif %}
{% if z['debug_vrrp_protocol'] is defined and
  z['debug_vrrp_protocol'] == 'true' %}
{{ 'debug vrrp protocol' }}
{% endif %}
{% if z['debug_vrrp_sockets'] is defined and
  z['debug_vrrp_sockets'] == 'true' %}
{{ 'debug vrrp sockets' }}
{% endif %}
{% if z['debug_vrrp_zebra'] is defined and z['debug_vrrp_zebra'] == 'true' %}
{{ 'debug vrrp zebra' }}
{% endif %}
{% if z['debug_zebra_dplane'] is defined and
  z['debug_zebra_dplane'] == 'true' %}
{{ 'debug zebra dplane' }}
{% endif %}
{% if z['debug_zebra_events'] is defined and
  z['debug_zebra_events'] == 'true' %}
{{ 'debug zebra events' }}
{% endif %}
{% if z['debug_zebra_fpm'] is defined and z['debug_zebra_fpm'] == 'true' %}
{{ 'debug zebra fpm' }}
{% endif %}
{% if z['debug_zebra_kernel'] is defined and
  z['debug_zebra_kernel'] == 'true' %}
{{ 'debug zebra kernel' }}
{% endif %}
{% if z['debug_zebra_mlag'] is defined and z['debug_zebra_mlag'] == 'true' %}
{{ 'debug zebra mlag' }}
{% endif %}
{% if z['debug_zebra_mpls'] is defined and z['debug_zebra_mpls'] == 'true' %}
{{ 'debug zebra mpls' }}
{% endif %}
{% if z['debug_zebra_neigh'] is defined and z['debug_zebra_neigh'] == 'true' %}
{{ 'debug zebra neigh' }}
{% endif %}
{% if z['debug_zebra_nexthop'] is defined and
  z['debug_zebra_nexthop'] == 'true' %}
{{ 'debug zebra nexthop' }}
{% endif %}
{% if z['debug_zebra_nht'] is defined and z['debug_zebra_nht'] == 'true' %}
{{ 'debug zebra nht' }}
{% endif %}
{% if z['debug_zebra_packet'] is defined and
  z['debug_zebra_packet'] == 'true' %}
{{ 'debug zebra packet' }}
{% endif %}
{% if z['debug_zebra_pbr'] is defined and z['debug_zebra_pbr'] == 'true' %}
{{ 'debug zebra pbr' }}
{% endif %}
{% if z['debug_zebra_pseudowires'] is defined and
  z['debug_zebra_pseudowires'] == 'true' %}
{{ 'debug zebra pseudowires' }}
{% endif %}
{% if z['debug_zebra_rib'] is defined and z['debug_zebra_rib'] == 'true' %}
{{ 'debug zebra rib' }}
{% endif %}
{% if z['debug_zebra_vxlan'] is defined and z['debug_zebra_vxlan'] == 'true' %}
{{ 'debug zebra vxlan' }}
{% endif %}
